/* ====================== ANIMATION SVG ==========================*/ 

#lion3 {
    animation: 3s color-change infinite alternate linear;
}


#lion2{
    animation: 2s color-change infinite alternate linear;
}

#lion1{
    animation: 1s color-change infinite alternate linear;

}

@keyframes color-change {
    0% {
      fill: rgba(56, 56, 56, 0.89);
     }
    50% {
      fill: rgba(32, 31, 31, 0.8);
    }
    100% {
      fill: #0c0806;
    }
  }

