/* ====================== BUTTONS ==========================*/
.btn {
    @include button-display;
    padding: 0 30px;
    font-weight: $font-large;
    border: none;
    

    &:hover {
        opacity: 0.8;;
    
    }
    
}

.text__link {
    @include button-display;
    display: inline;
    border-bottom: 1px solid rgba(14, 13, 13, 0.678);
    width: fit-content;

}

.primary{
    background-color: $primary-color;
    color: $white-color;

}
.secondary{
   background-color: $secondary-color;
   color: $white-color;

}

