/* ====================== BUTTONS ========================== */

.btn {
  @include button-display;

  border: 0;
  font-weight: $font-large;
  padding: 0 30px;

  &:hover {
    opacity: 0.8;
  }
}

.text__link {
  @include button-display;

  border-bottom: 1px solid rgba(14, 13, 13, 67.8%);
  display: inline;
  width: fit-content;
}

.primary {
  background-color: $primary-color;
  color: $white-color;
}

.secondary {
  background-color: $secondary-color;
  color: $white-color;
}
