/* ====================== NAVIGATION ========================== */

.header__section {
  display: block;
  margin-top: 0;
  width: $full-width;

  .nav {
    padding: 12px;
    position: relative;
    width: $full-width;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  width: $full-width;

  .nav__link {
    display: none;
    font-size: 20px;
    list-style: none;
    padding: 12px 6px;
    transition: all 0.7s;
    width: $full-width;
  }

  .active {
    display: block;
    transition: 0.5s ease-in-out;
  }

  .item {
    display: block;
    font-weight: $font-large;
    padding-bottom: 6px;
    width: $full-width;

    &:hover {
      opacity: 0.85;
    }

    &:visited {
      background-color: $secondary-color;
      color: rgb(35, 36, 41);
    }

    &:active {
      background-color: $secondary-color;
      border: 0;
    }
  }
}

// === LOGO ===

.brand__item {
  left: 0;
  margin-right: auto;
  outline: none;
  position: absolute;
  top: 6px;

  .logo {
    height: 45px;
  }
}

// === LOGO ===

// === HAMBURGER MENU ===

.toggle__button {
  cursor: pointer;
  margin: 0 10px;
  order: 1;
  position: absolute;
  right: 0;
  top: 16px;
  z-index: 10;
}

.bars {
  background: rgb(235, 228, 228);
  display: inline-block;
  height: 3px;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 35%;
  width: 1.7em;

  &::before,
  &::after {
    background: rgb(235, 228, 228);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.5s ease-in-out;
    width: 100%;
  }

  &::before {
    transform: translateY(-16px);
  }

  &::after {
    transform: translateY(16px);
  }
}

.open {
  background: transparent;
  box-shadow: none;
  transform: translateX(-50px);

  &::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  &::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}

// === HAMBURGER MENU ===

@media (min-width: $md) {

  .toggle__button {
    display: none;
  }

  .nav {
    display: flex;

    .brand__item {
      top: 3px;

      .logo {
        height: 75px;
      }
    }
  }

  .navbar {
    flex-direction: row !important;
    margin-left: auto;
    margin-top: 16px;
    width: auto;

    .nav__link {
      display: inline-block;
      font-size: 20px;
      padding: 0;
      width: auto;

      .item {
        padding: 6px;
        text-align: center;
      }
    }
  }
}
