//======== Color =========//
$primary-color: rgba(10, 9, 9, 90%);
$secondary-color: rgba(55, 96, 211, 90%);
$white-color: rgb(255, 255, 255);

//======== Helpers =========//
$rounded: 6px;
$circle: 50%;

//======== Fonts =========//
$font-large: 700;
$font-light: 300;

//======== Spacings =========//
$full-width: 100%;
$full-height: 100%;

//======== Breaks Points =========//

$sm: 576px;
$md: 768px;
$xl: 1024px;
